/*body{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}*/

/*#body-container{
	background-image: url(../img/bg1.jpg);
	background-size: cover;
	height:700px;
	opacity: 0.2;*/
}
#body-container img{
	max-width: 100%;
}
nav h1{
	color:#008080;
	float: right;
	opacity: 1;
	line-height: 52.5px;
	margin-right:15px;
}
#contact{
	text-align: center;
	box-sizing: border-box;
	margin:0 auto;
	background-color: blue;
}
#contact:after{
	content: '';
	display: block;
	clear: both;
}
#contact a{
	background-color: green;
}
#contact a img{
	width: 40px;
}
#contact h4{
	float: right;
	background-color: red;
	margin: 0;
	width:50%;
	display: block;
	margin-right: 5px;

}
#contact h4 span {
	display: block;
}
